<main>
    
    <header>
        <h1>Cocktails</h1>
    </header>
    <section>
        <ul>
            <li>Mojito<span> . . . . . . . . . . . . . . . . . . . . . . . . . </span></li>
            <li>Rum Fashion <span> . . . . . . . . . . . . . . . . . . . .  </span></li>
            <li>Negroni <span> . . . . . . . . . . . . . . . . . . . . . . . .</span></li>
            <li>Jungle Bird <span> . . . . . . . . . . . . . . . . . . . . . .</span></li>
            <li>Long Island <span> . . . . . . . . . . . . . . . . . . . . . .</span></li>
            <li>White Lady <span> . . . . . . . . . . . . . . . . . . . . . . </span></li>
            <li> Cosmopolitan <span> . . . . . . . . . . . . . . . . . . . . . </span></li>
           
        </ul>
        <ul>
            <li>Mojito<span> . . . . . . . . . . . . . . . . . . . . . . . . . </span></li>
            <li>Rum Fashion <span> . . . . . . . . . . . . . . . . . . . .  </span></li>
            <li>Negroni <span> . . . . . . . . . . . . . . . . . . . . . . . .</span></li>
            <li>Jungle Bird <span> . . . . . . . . . . . . . . . . . . . . . .</span></li>
            <li>Long Island <span> . . . . . . . . . . . . . . . . . . . . . .</span></li>
            <li>White Lady <span> . . . . . . . . . . . . . . . . . . . . . . </span></li>
            <li> Cosmopolitan <span> . . . . . . . . . . . . . . . . . . . . . </span></li>
           
        </ul>
    </section>
    <h1>Shisha tika</h1>
    <section>
        <ul>
            <li>Mojito<span> . . . . . . . . . . . . . . . . . . . . . . . . . </span></li>
            <li>Rum Fashion <span> . . . . . . . . . . . . . . . . . . . .  </span></li>
            <li>Negroni <span> . . . . . . . . . . . . . . . . . . . . . . . .</span></li>
            <li>Jungle Bird <span> . . . . . . . . . . . . . . . . . . . . . .</span></li>
            <li>Long Island <span> . . . . . . . . . . . . . . . . . . . . . .</span></li>
            <li>White Lady <span> . . . . . . . . . . . . . . . . . . . . . . </span></li>
            <li> Cosmopolitan <span> . . . . . . . . . . . . . . . . . . . . . </span></li>
           
        </ul>
        <ul>
            <li>Mojito<span> . . . . . . . . . . . . . . . . . . . . . . . . . </span></li>
            <li>Rum Fashion <span> . . . . . . . . . . . . . . . . . . . .  </span></li>
            <li>Negroni <span> . . . . . . . . . . . . . . . . . . . . . . . .</span></li>
            <li>Jungle Bird <span> . . . . . . . . . . . . . . . . . . . . . .</span></li>
            <li>Long Island <span> . . . . . . . . . . . . . . . . . . . . . .</span></li>
            <li>White Lady <span> . . . . . . . . . . . . . . . . . . . . . . </span></li>
            <li> Cosmopolitan <span> . . . . . . . . . . . . . . . . . . . . . </span></li>
           
        </ul>
    </section>
</main>
<footer>
  
    <div class="icon-footer">
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-credit-card" aria-hidden="true"></i>
      </div>
  
      <p style="color: white; text-align: center; font-size: 18px;
            font-family: italic;">&copy; 2021 Copyright by Up in Sm0ke Cafe</p>
      <p style="color: white; text-align: center; font-size: 18px;
      padding-bottom: 27px; font-family: italic;">Developed by Alexandros Pappas</p>
      <i class="fa fa-github" aria-hidden="true"></i>
  
  </footer>