<main>
    
    <header>
        <h1>Cocktails</h1>
    </header>
    <section>
        <ul>
            <li>Mojito<span> . . . . . . . . . . . . . . . . . . . . . . . . . </span></li>
            <li>Rum Fashion <span> . . . . . . . . . . . . . . . . . . . .  </span></li>
            <li>Negroni <span> . . . . . . . . . . . . . . . . . . . . . . . .</span></li>
            <li>Jungle Bird <span> . . . . . . . . . . . . . . . . . . . . . .</span></li>
            <li>Long Island <span> . . . . . . . . . . . . . . . . . . . . . .</span></li>
            <li>White Lady <span> . . . . . . . . . . . . . . . . . . . . . . </span></li>
            <li> Cosmopolitan <span> . . . . . . . . . . . . . . . . . . . . . </span></li>
           
        </ul>
        <ul>
            <li>Mojito<span> . . . . . . . . . . . . . . . . . . . . . . . . . </span></li>
            <li>Rum Fashion <span> . . . . . . . . . . . . . . . . . . . .  </span></li>
            <li>Negroni <span> . . . . . . . . . . . . . . . . . . . . . . . .</span></li>
            <li>Jungle Bird <span> . . . . . . . . . . . . . . . . . . . . . .</span></li>
            <li>Long Island <span> . . . . . . . . . . . . . . . . . . . . . .</span></li>
            <li>White Lady <span> . . . . . . . . . . . . . . . . . . . . . . </span></li>
            <li> Cosmopolitan <span> . . . . . . . . . . . . . . . . . . . . . </span></li>
           
        </ul>
    </section>
    <h1>Shisha tika</h1>
    <section>
        <ul>
            <li>Mojito<span> . . . . . . . . . . . . . . . . . . . . . . . . . </span></li>
            <li>Rum Fashion <span> . . . . . . . . . . . . . . . . . . . .  </span></li>
            <li>Negroni <span> . . . . . . . . . . . . . . . . . . . . . . . .</span></li>
            <li>Jungle Bird <span> . . . . . . . . . . . . . . . . . . . . . .</span></li>
            <li>Long Island <span> . . . . . . . . . . . . . . . . . . . . . .</span></li>
            <li>White Lady <span> . . . . . . . . . . . . . . . . . . . . . . </span></li>
            <li> Cosmopolitan <span> . . . . . . . . . . . . . . . . . . . . . </span></li>
           
        </ul>
        <ul>
            <li>Mojito<span> . . . . . . . . . . . . . . . . . . . . . . . . . </span></li>
            <li>Rum Fashion <span> . . . . . . . . . . . . . . . . . . . .  </span></li>
            <li>Negroni <span> . . . . . . . . . . . . . . . . . . . . . . . .</span></li>
            <li>Jungle Bird <span> . . . . . . . . . . . . . . . . . . . . . .</span></li>
            <li>Long Island <span> . . . . . . . . . . . . . . . . . . . . . .</span></li>
            <li>White Lady <span> . . . . . . . . . . . . . . . . . . . . . . </span></li>
            <li> Cosmopolitan <span> . . . . . . . . . . . . . . . . . . . . . </span></li>
           
        </ul>
    </section>
</main>