<main class="content-wrapper">
    <section>
        <picture class="staff">
            <a href="assets/up-shop/staff5.jpg" alt="staff"><img src="assets/up-shop/staff5.jpg" alt="staff"></a>
            <a href="assets/up-shop/staff7.jpg" alt="staff"><img src="assets/up-shop/staff7.jpg" alt="staff"></a>
            <a href="assets/up-shop/staff6.jpg" alt="staff"><img src="assets/up-shop/staff6.jpg" alt="staff"></a>
        </picture>

        <picture class="outside">
            <a href="assets/up-shop/outside1.jpg" alt="outside-the-store"><img src="assets/up-shop/outside1.jpg" alt="outside-the-store"></a>
            <a href="assets/up-shop/outside7.jpg" alt="outside-the-store"><img src="assets/up-shop/outside7.jpg" alt="outside-the-store"></a>
            <a href="assets/up-shop/outside2.jpg" alt="outside-the-store"><img src="assets/up-shop/outside2.jpg" alt="outside-the-store"></a>
        </picture>

        <picture class="inside">
            <a href="assets/up-shop/inside1.jpg" alt="inside-the-store"><img src="assets/up-shop/inside1.jpg" alt="inside-the-store"></a>
            <a href="assets/up-shop/inside3.jpg" alt="inside-the-store"><img src="assets/up-shop/inside3.jpg" alt="inside-the-store"></a>
            <a href="assets/up-shop/inside4.jpg" alt="inside-the-store"><img src="assets/up-shop/inside4.jpg" alt="inside-the-store"></a>
        </picture>

        <picture class="other">
            <a href="assets/up-shop/shisha-staff.jpg" alt="the-head-of-a-shisha"><img src="assets/up-shop/shisha-staff.jpg" alt="the-head-of-a-shisha"></a>
            <a href="assets/up-shop/drink-staff.jpg" alt="ready-shisha"><img src="assets/up-shop/drink-staff.jpg" alt="drinks-ready-to-serve"></a>
            <a href="assets/up-shop/fire.jpg" alt="coals-on-fire"><img src="assets/up-shop/fire.jpg" alt="coals-on-fire"></a>
        </picture>

    </section>

</main>
<footer>
  
    <div class="icon-footer">
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-credit-card" aria-hidden="true"></i>
      </div>
  
      <p style="color: white; text-align: center; font-size: 18px;
            font-family: italic;">&copy; 2021 Copyright by Up in Sm0ke Cafe</p>
      <p style="color: white; text-align: center; font-size: 18px;
      padding-bottom: 27px; font-family: italic;">Developed by Alexandros Pappas</p>
      <i class="fa fa-github" aria-hidden="true"></i>
  
  </footer>