body{
    height: 121px;
}
.navigation{
    display: flex;
    justify-content: space-between;
    height: 116.15px;
    background-color: black;
}
img{
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
  
}
.burger{
    padding-top: 48.75px;
    padding-bottom: 38.75px;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 20px;
    height: 3px;
    background-color: white;
    margin: 5px;
}
.nav-links{
    display: flex;
    justify-content: space-evenly;
}
nav ul li{
    color: white;
    list-style: none;
    padding: 15px;
    margin: 2px;
    font-size: 17px;
    padding-top: 48px;
}
a{
    text-decoration: none;
    color: white;
}
.active{
    color: #D2830C;
}
.menu-button{
    display: none;
}

@media screen and (max-width: 768px){
    /* body{
        overflow-x: hidden;
    } */
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 19vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
    .navigation .menu-button:checked ~ .nav-active{
        max-height: 240px;
    }
}

.nav-active{
    transform: translateX(0%);
}