body{
    height: 121px;
    background-color: black;
}
.navigation{
    display: flex;
    justify-content: space-between;
    height: 116.15px;
}
img{
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
  
}
.burger{
    padding-top: 48.75px;
    padding-bottom: 38.75px;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 20px;
    height: 3px;
    background-color: white;
    margin: 5px;
}
.nav-links{
    display: flex;
    justify-content: space-evenly;
}
nav ul li{
    color: white;
    list-style: none;
    padding: 15px;
    margin: 2px;
    font-size: 17px;
    padding-top: 48px;
}
a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}
a:hover{
    color: #D2830C;
}
.active{
    color: #D2830C;
}
.menu-button{
    display: none;
}

@media screen and (max-width: 768px){

    .nav-links{
<<<<<<< HEAD
      display: none;
=======
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 19vh;
        background-color: yellow;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        /* transform: translateX(100%); */
        transition: transform 0.5s ease-in;
        z-index: 10;
>>>>>>> c8708af7d687e12617c2bfd55cb41df00b03dfff
    }
    .nav-links li{
        opacity: 1;
    }
    .burger{
        display: block;
    }
    .mobile-nav{
        position: absolute;
        right: 20px;
        border: 2px solid #D2830C;
        list-style: none;
        margin: 3px;
        padding: 5px;
        border-radius: 5px;
        width: 300px;
    }
    .mobile-nav li{
        padding: 5px;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.nav-active{
    transform: translateX(0%);
}