<nav class="navigation">
    <label class="logo">
      <li><a routerLink="/home" routerLinkActive='active'><img src="../../assets/upinsmoke2.png" alt="logo"></a></li>
    </label>
  
    <ul class="nav-links">
      <ng-container [ngTemplateOutlet]="ref"></ng-container>
    </ul>
  
    <div class="burger">
      <div class="line2" (click)="collapse()"></div>
      <div class="line1" (click)="collapse()"></div>
      <div class="line3" (click)="collapse()"></div>
  
    </div>
</nav>
  <div *ngIf="isMobile" class="mobile-nav">
    <ng-container [ngTemplateOutlet]="ref"></ng-container>
  </div>
  
  <ng-template #ref>
      <li><a routerLink="/home" routerLinkActive='active'>ΑΡΧΙΚΗ</a></li>
      <li><a routerLink="/menu" routerLinkActive='active'>ΜΕΝΟΥ</a></li>
      <li><a routerLink="/offers" routerLinkActive='active'>ΠΡΟΣΦΟΡΕΣ</a></li>
      <li><a routerLink="/gallery" routerLinkActive='active'>GALLERY</a></li>
      <li><a routerLink="contact-us" routerLinkActive='active'>ΕΠΙΚΟΙΝΩΝΙΑ</a></li> 
  </ng-template>