<body>
    <nav class="navigation">
        <label class="logo">
            <li><a routerLink="/home" routerLinkActive='active'><img src="../../assets/upinsmoke2.png" alt="logo"></a></li>
        </label>
        
        <ul class="nav-links">
            <li><a routerLink="/home" routerLinkActive='active'>ΑΡΧΙΚΗ</a></li>
            <li><a routerLink="/menu" routerLinkActive='active'>ΜΕΝΟΥ</a></li>
            <li><a routerLink="/offers" routerLinkActive='active'>ΠΡΟΣΦΟΡΕΣ</a></li>
            <li><a routerLink="/gallery" routerLinkActive='active'>GALLERY</a></li>
            <li><a routerLink="contact-us" routerLinkActive='active'>ΕΠΙΚΟΙΝΩΝΙΑ</a></li>
        </ul>
    
        <ul class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </ul>
    </nav>
</body>