<main>
    <img src="../../assets/up-shop/home-main.jpg" alt="up-shop">

    <section class="contact-us">
      <section class="contact">
        <p>ΕΠΙΚΟΙΝΩΝΗΣΤΕ ΜΑΖΙ ΜΑΣ</p>
      </section>
      <section class="telephone">
        <p>21 0281 8661</p>
      </section>
    </section>

    <section class="opening-adress">
      <section class="opening">
        <p>Το καταστημα μας λειτουργει τις εξης ωρες:</p>
        <p>Δευτερα-Κυριακη: 11:00 πμ - 2:00πμ</p>
        <p>Το ωραριο του καταστηματος ενδεχεται να περιεχει αλλαγες λογω COVID 19</p>
      </section>
      <section class="adress">
        <p style="padding: 20px;">Το καταστημα μας βρισκεται:</p>
        <p>Μ. Μερκουρη 16, Ηράκλειο 141 22</p>
      </section>
    </section>

    <section class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3141.98477480997!2d23.761187414597625!3d38.04744110419923!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a1a20aa06c5a61%3A0x8655d89bc16717b0!2sUp%20In%20Smoke%20Athens!5e0!3m2!1sel!2sgr!4v1622020360665!5m2!1sel!2sgr" width="1000" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </section>
    

  </main>
  <footer>
  
    <div class="icon-footer">
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-credit-card" aria-hidden="true"></i>
      </div>
  
      <p style="color: white; text-align: center; font-size: 18px;
            font-family: italic;">&copy; 2021 Copyright by Up in Sm0ke Cafe</p>
      <p style="color: white; text-align: center; font-size: 18px;
      padding-bottom: 27px; font-family: italic;">Developed by Alexandros Pappas</p>
      <i class="fa fa-github" aria-hidden="true"></i>
  
  </footer>