<main>
    <header>
        <h1>Προσφορες</h1>
    </header>
    <section>
        <p>
            Φοιτητική Προσφορά.: Δευτέρα & Τετάρτη με την ένδειξη του φοιτητικού σας πάσου όλοι οι premium αργιλεδες -20%.
        </p>
        <!-- <li><span>Φοιτητική Προσφορά.: Δευτέρα & Τετάρτη με την ένδειξη του φοιτητικού σας πάσου όλοι οι premium αργιλεδες -20%. </span></li> -->
        <p>
            Φθινοπωρινή Προσφορά Up In Smoke Δευτέρα με Παρασκευή 12:00-18:00 όλοι οι αργιλέδες 2€ φθηνοτεροι.
        </p>
    </section>
</main>