<main>
    <header>
        <h1>ΠΡΟΣΦΟΡΕΣ</h1>
    </header>
    <section class="offers">
        <section class="offer-1">
            <p class="offer-1-text">
                Φοιτητική Προσφορά.: Δευτέρα & Τετάρτη με την ένδειξη του φοιτητικού σας πάσου όλοι οι premium αργιλεδες -20%.
            </p>

            <picture class="offer-1-pic">
                <a href="assets/up-shop/shisha/shisha11.jpg" alt="inside-the-store"><img src="assets/up-shop/shisha/shisha1.jpg" alt="shisha picture"></a>
            </picture>
        </section>
        <section class="offer-2">
            <p class="offer-2-text">
                Φθινοπωρινή Προσφορά Up In Smoke Δευτέρα με Παρασκευή 12:00-18:00 όλοι οι αργιλέδες 2€ φθηνοτεροι.
            </p>
            <picture class="offer-2-pic">
                <a href="assets/up-shop/shisha/shisha2.jpg" alt="inside-the-store"><img src="assets/up-shop/shisha/shisha2.jpg" alt="inside-the-store"></a>
            </picture>
        </section>
    </section>
</main>
<footer>
  
    <div class="icon-footer">
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-credit-card" aria-hidden="true"></i>
      </div>
  
      <p style="color: white; text-align: center; font-size: 18px;
            font-family: italic;">&copy; 2021 Copyright by Up in Sm0ke Cafe</p>
      <p style="color: white; text-align: center; font-size: 18px;
      padding-bottom: 27px; font-family: italic;">Developed by Alexandros Pappas</p>
      <i class="fa fa-github" aria-hidden="true"></i>
  
  </footer>